h3 {
  text-align: center;
}

.portfolio-area {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  font-family: "Lato", sans-serif;
}

.stock-list {
  width: 65%;
}

.stock-purchase {
  width: 30%;
}

.vertical-line {
  border-left: 2px solid green;
  height: 90%;
}

.overPriced,
.red {
  color: red;
}

.green {
  color: green;
}

.gray {
  color: grey;
}

.confirmation {
  background: transparent;
}

.modal {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
}

.confirm-box {
  width: 400px;
  height: 150px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  background: white;
}

.confirm-buttons {
  margin-top: 5px;
}

.confirm-buttons button {
  margin: 10px;
}

table {
  margin: auto;
  text-align: center;
  width: 95%;
  font-size: 0.8em;
}

td {
  height: 40px;
}

.list-symbol {
  width: 15%;
}

.list-company {
  width: 25%;
}

.list-quantity {
  width: 10%;
}

.list-investment {
  width: 20%;
}

input,
input::-webkit-input-placeholder {
  font-size: 12px;
  box-sizing: border-box;
  padding-left: 3px;
}

input {
  margin-top: 5px;
  width: 150px;
  height: 25px;
}

.stock-purchase {
  font-size: 0.9em;
}

a {
  text-decoration: none;
}

.balance {
  font-size: 20px;
}

.ticker-search {
  margin-top: 20px;
  width: 200px;
  height: 30px;
}

.search-result {
  margin-top: 15px;
  background: #474747;
  font-family: Courier, monospace;
  color: #00cf3b;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 3px;
}

.purchase-section {
  margin-top: 10px;
}

.quantity-input {
  background: #474747;
  border: none;
  border-bottom: 1px solid #e8fb26;
  color: #00cf3b;
  margin-bottom: 10px;
}
.quantity-input::-webkit-input-placeholder {
  color: #e8fb26;
}

.purchase-button {
  width: auto;
}
